<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Cloud Telemetry</title>

		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/bootbox.js"></script>
		<script src="js/moment-2.4.0.js"></script>
		<script src="js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
		<script src="js/d3.min.js"></script>
		<script src="js/d3.layout.js"></script>
		<script src="js/scriptsUI/menuconfig.js"></script>
		<script src="js/scriptsUI/vms.js"></script>
		<script src="js/scriptsUI/lastaccess.js"></script>

		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
		<link rel="stylesheet" type="text/css" href="css/dashboard.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css">
		<link rel="stylesheet" type="text/css" href="css/c3.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<!--<link rel="stylesheet" type="text/css" href="css/master.css">-->
	</head>

	<body onload="count_alarms();">
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header navbar-custom">

					<a class="navbar-brand" href="#" ><h3>Cloud Telemetry</h3></a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="glyphicon glyphicon-cog"></span> Alarm Configuration <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#" onclick="list_alarms();"><span class="glyphicon glyphicon-th-list"></span> All Alarms</a>
								</li>
								<li>
									<a href="#" onclick="addAlarme();"><span class="glyphicon glyphicon-plus-sign"></span> Add Alarm</a>
								</li>
								<li>
									<a href="#" onclick="deleteAlarme()"><span class="glyphicon glyphicon-minus-sign"></span> Remove Alarm</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row-fluid">
				<div class="col-md-2 col-md-offset-10 sidebar">
					<div id="panel_selection_time" class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Time Selection</h3>
						</div>
						<div class="panel-body">

							<strong>Fixed Time Interval</strong>
							<div class="radio">
								<label data-toggle="tooltip" data-original-title="Permite">
									<input type="radio" name="defaultTime" id="ultima_hora" value="ultima_hora" checked="true">
									Last Hour </label>
							</div>
							<div class="radio">
								<label data-toggle="tooltip" data-original-title="Permite">
									<input type="radio" name="defaultTime" id="ultimo_dia" value="ultimo_dia">
									Last Day </label>
							</div>
							<div class="radio">
								<label data-toggle="tooltip" data-original-title="Permite">
									<input type="radio" name="defaultTime" id="ultima_semana" value="ultima_semana">
									Last Week </label>
							</div>
							<div class="radio">
								<label data-toggle="tooltip" data-original-title="Permite">
									<input type="radio" name="defaultTime" id="ultimo_mes" value="ultimo_mes">
									Last Month </label>
							</div>
							<strong>Specific Time Interval</strong>
							<br>
							<br>
							<label for="dtp_input1" >Start</label>
							<div class="input-group date" id="datetimepicker1">
								<input class="form-control" type="text" id="data_hora1" data-format="DD/MM/YYYY HH:mm">
								<span id="selc_dh1" class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
							</div>
							<label for="dtp_input2" >End</label>
							<div class="input-group date" id="datetimepicker2">
								<input class="form-control" type="text" id="data_hora2" data-format="DD/MM/YYYY HH:mm">
								<span id="selc_dh2" class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
							</div>
							<br>
							<div align="center">
								<button type="button" class="btn btn-primary" id="aplicarConf" onclick="plot()">
									Apply
								</button>
								<button type"button" class="btn btn-primary" id="gerar_rec" style="display:none;" onclick="gera_recomendacao()">
									Recommend
								</button>
							</div>
						</div>

					</div>

					<ul onclick="show_hist();" class="list-group">
						<li id="notificacoes" class="list-group-item alert alert-warning">
							<!--<span id="num_notificacoes" class="badge" value=10>12</span>-->
							<span  class="glyphicon glyphicon-warning-sign"></span>Notifications
						</li>
					</ul>
					<div id="alarm_fail" class="alert alert-danger" data-alerts="alerts" style="display:none">

					</div>
					<div id="alarm_ok" class="alert alert-success" data-alerts="alerts" style="display:none">

					</div>

				</div>
				<div class="col-md-10  main">
					<!--abas para escolha -->
					<ul class="nav nav-tabs nav-justified">
						<li class="active">
							<a href="" id="bt_vg" onclick="show_graph();" data-toggle="tab">Graphs</a>
						</li>
						<li>
							<a href="" id="bt_rec" onclick="show_recomendacoes();" data-toggle="tab">Recommendations</a>
						</li>
						<li>
							<a href="" id="bt_hist" onclick="show_hist();" data-toggle="tab">Alarm</a>
						</li>
            <li>
  						<a href="" id="bt_bench" onclick="show_bench();" data-toggle="tab">Benchmark</a>
						</li>
					</ul>

					<div id="chart_div" class="row">
						<ul class="nav nav-pills nav-justified">
							<li class="active">
								<a href="#" id="bt_host" onclick="show_host()">Hosts</a>
							</li>
							<li class="">
								<a href="#" id="bt_projects" onclick="show_projects();">Projects</a>
							</li>
						</ul>
						<div id="menu_host" class="col-md-2"></div>
						<div id="menu_vm" class="col-md-2" style="display:none"></div>
						<div class="col-md-10 col-md-offset-2" id="chart">
							<center>
								Select a Host and a period of time.
							</center>
						</div>
					</div>
					<div id="rec_div" class="row" style="display:none;">
						<ul class="nav nav-pills nav-justified">
							<li class="active">
								<a href="#" id="bt_rec_upgrade" onclick="show_rec_upgrade()">Upgrades</a>
							</li>
							<li class="">
								<a href="#" id="bt_rec_flavors" onclick="show_rec_flavor();">Flavors</a>
							</li>
							<li class="">
							<a href="#" id="bt_rec_migracao" onclick="show_rec_migracao();">Power Saving</a>
							</li>
						</ul>
						<!-- Div para mostrar recomendacoes de flavors -->
						<div id="rec_div_flavors" style="display:none;">
							<div class="row">
								<div class="col-md-6" id="recomendacoes_geradas_grafico">

								</div>
								<div class="col-md-6" id="recomendacoes_grafico_violacoes"></div>
							</div>
							<div class="col-md-6" id="recomendacoes_geradas">
								<p>
									<h4> Select a period of time to see the Recomendations.</h4>
								</p>
							</div>
							<div class="col-md-6" id="info_rec">
								<h5><b>Sugestion </b> :  Describe the ideal number of cores that instances should have according to the recommendation.</h5>
								<h5><b>Lose</b>: Describe the sum of the amount of CPU not used in every instance in relation to the number of cores for each data available.</h5>
								<h5><b>Violations</b>: Describe the number of times that overloaded the machines considering the use of instances of suggestion indicated.</h5>
							</div>
						</div>
						<!-- Div para mostrar recomendacoes de upgrades -->
						<div id="rec_div_upgrade">
							<div class="col-md-12" id="recomendacoes_up">

							</div>
						</div>
						<!-- Div para mostrar recomendacoes de migração -->
						<div id="rec_div_migracao">
							<div class="col-md-12" id="recomendacoes_migracoes">

							</div>
						</div>
					</div>
          <!-- Div para mostrar historicos de alarmes -->
					<div id="hist_div" class="row" style="display:none;">
						<ul class="nav nav-pills nav-justified">
							<li class="active">
								<a href="#" id="bt_alarm_hist" onclick="count_alarms();getAlarmHistoryTime();">Alarm history</a>
							</li>
							<li class="">
								<a href="#" id="bt_alarm_list" onclick="list_alarms();">Alarm list</a>
							</li>
						</ul>

						<div id="hist_info"class="col-md-12 col-lg-12">

						</div>
            
						<div id="bt_hist_alarm" class="row">
							<div class="col-md-4 col-md-offset-5">
								<button type="button" class="btn btn-success" align="right" id="recarregar_alarmes" style="" onclick="count_alarms();getAlarmHistoryTime();">
									Update
								</button>
								<button type="button" align="left" class="btn btn-info" id="mais_alarmes" style="" onclick="adicionarAlarmes();">
									See more
								</button>
							</div>
						</div>
					</div>
           <!-- Div para mostrar benchmark -->         
          <div id="bench_div"class="row" style="display:none;">
            <br></br>
            <button type="button" class="btn btn-success" align="right" id="loadBench" style="" onclick="load_bench();">
  					  Schedule Benchmark
						</button>
            <div align="center"><h3>Latest Results</h3></div>
            <br></br>
            <h4>CPU</h4>
            <div id="bench_table_cpu"class="col-md-12 col-lg-12">
              
						</div>
            <br></br><br></br>
            
            <h4>Memory</h4>
            
            <div id="bench_table_memory"class="col-md-12 col-lg-12">
              
  					</div>
            <br></br><br></br>
      
            <h4>Disk</h4>
            
            <div id="bench_table_disk"class="col-md-12 col-lg-12">
              
  					</div>
					</div>
          
				</div><!-- fim div col-md-10 main -->
			</div>
		</div>

		<!-- SCRIPTS -->
		<!-- Não adicionar bibliotecas do jqquery e nem do javascript, adicione apenas os .js necessários verifique duplicações!!! -->

		<script src="js/highlight.pack.js"></script>
		<script src="js/c3.min.js"></script>
		<script src="js/datepicker.js"></script>
		<script src="js/scriptsUI/alarms_hist.js"></script>
		<script src="js/scriptsUI/alarms.js"></script>
		<script src="js/scriptsUI/recomenda.js"></script>
		<script src="js/scriptsUI/host_metrics.js"></script>
		<script src="js/scriptsUI/migracao.js"></script>
  	<script src="js/scriptsUI/benchmark.js"></script>
		<script src="http://code.highcharts.com/highcharts.js"></script>
		<script src="http://code.highcharts.com/highcharts-more.js"></script>
		<script src="http://code.highcharts.com/modules/exporting.js"></script>
		<script type="text/javascript">
			$('[data-toggle="tooltip"]').tooltip({
				placement : 'right',
				trigger: "hover"
			});
		</script>

	</body>
</html>
