<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Cloud Telemetry</title>

		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/bootbox.js"></script>
		<script src="js/moment-2.4.0.js"></script>
		<script src="js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
		<script src="js/d3.min.js"></script>
		<script src="js/d3.layout.js"></script>
		<script src="js/scriptsUI/vms.js"></script>

		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
		<link rel="stylesheet" type="text/css" href="css/dashboard.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css">
		<link rel="stylesheet" type="text/css" href="css/c3.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<!--link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tomorrow.css') }}"-->
	</head>

	<body>
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header navbar-custom">

					<a class="navbar-brand" href="#" ><h3>Cloud Telemetry</h3></a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="glyphicon glyphicon-cog"></span> Alarmes <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#" onclick="addAlarme();"><span class="glyphicon glyphicon-plus-sign"></span>Adicionar Alarme</a>
								</li>
								<li>
									<a href="#" onclick=""><span class="glyphicon glyphicon-minus-sign"></span>Remover Alarme</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row-fluid">
				<div class="col-md-2 col-md-offset-10 sidebar">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Seleção de Tempo</h3>
						</div>
						<div class="panel-body">

							<strong>Período Fixo</strong>
							<div class="radio">
								<label data-toggle="tooltip" data-original-title="Permite">
									<input type="radio" name="defaultTime" id="ultima_hora" value="ultima_hora">
									Última Hora </label>
							</div>
							<div class="radio">
								<label data-toggle="tooltip" data-original-title="Permite">
									<input type="radio" name="defaultTime" id="ultimo_dia" value="ultimo_dia">
									Último Dia </label>
							</div>
							<div class="radio">
								<label data-toggle="tooltip" data-original-title="Permite">
									<input type="radio" name="defaultTime" id="ultima_semana" value="ultima_semana">
									Última Semana </label>
							</div>
							<div class="radio">
								<label data-toggle="tooltip" data-original-title="Permite">
									<input type="radio" name="defaultTime" id="ultimo_mes" value="ultimo_mes">
									Último Mês </label>
							</div>
							<strong>Período Específico</strong>
							<br>
							<br>
							<label for="dtp_input1" >Início</label>
							<div class="input-group date" id="datetimepicker1">
								<input class="form-control" type="text" id="data_hora1" data-format="DD/MM/YYYY HH:mm">
								<span id="selc_dh1" class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
							</div>
							<label for="dtp_input2" >Fim</label>
							<div class="input-group date" id="datetimepicker2">
								<input class="form-control" type="text" id="data_hora2" data-format="DD/MM/YYYY HH:mm">
								<span id="selc_dh2" class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
							</div>
							<br>
							<div align="center">
								<button type="button" class="btn btn-primary" id="aplicarConf" onclick="plot()">
									Aplicar
								</button>
							</div>
						</div>

					</div>

					<!--<ul class="list-group">
					<li class="list-group-item alert alert-warning">
					<span class="badge">12</span>
					<span class="glyphicon glyphicon-warning-sign"></span>Notificações
					</li>
					</ul>-->
				</div>
				<div class="col-md-10  main">
					<!--abas para escolha -->
					<ul class="nav nav-tabs nav-justified">
						<li class="active">
							<a href="" id="bt_vg" onclick="show_graph();" data-toggle="tab">Visão Geral</a>
						</li>
						<!-- <li>
							<a href="" id="bt_rec" onclick="show_recomendacoes();" data-toggle="tab">Recomendações</a>
						</li>
						<li>
							<a href="" id="bt_hist" onclick="show_hist();" data-toggle="tab">Histórico</a>
						</li> -->
					</ul>

					<div id="chart_div" class="row">
						<br>
						<br>
						<div id="menu_vm" class="col-md-2">
							<!--<div id="painel_projetos" class="panel panel-primary">-->
								<!--<div class="panel-heading">
									<h3 class="panel-title">Projetos</h3>
								</div>-->
								<!--<div class="panel-body btn-group-vertical">
									<strong>Projeto demo</strong>
									<div class="radio">
										<label>
											<input type="radio" name="defaultVM" id="vm1" value="vm1">
											VM1 </label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="defaultVM" id="vm2" value="vm2">
											VM2 </label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="defaultVM" id="vm3" value="vm3">
											VM3 </label>
									</div>
								</div>-->
								<!--<div class="panel-body">
									<strong>Projeto Admin</strong>
									<p>
										Não há VMs
									</p>
								</div>-->
							<!--</div>-->
						</div>
						<div class="col-md-10 col-md-offset-2" id="chart">
							<center>
								Selecione uma VM de um projeto e um período de Tempo
							</center>
						</div>
					</div>
					<!-- <div id="rec_div" class="row" style="display:none;">
						<p>
							Recomendacoes
						</p>
					</div>
					<div id="hist_div" class="row" style="display:none;">
						<p>
							Historico
						</p>
					</div> -->
				</div><!-- fim div col-md-10 main -->
			</div>
		</div>

		<!-- SCRIPTS -->
		<!-- Não adicionar bibliotecas do jqquery e nem do javascript, adicione apenas os .js necessários verifique duplicações!!! -->
		<script src="js/highlight.pack.js"></script>
		<script src="js/c3.min.js"></script>
		<script src="js/timeseries.js"></script>

		<script src="js/scriptsUI/menuconfig.js"></script>
		<script src="js/scriptsUI/alarms.js"></script>
									<script>
									$('<div id="painel_projetos" class="panel panel-primary">'+'</div>').appendTo('#menu_vm');
									$('<div class="panel-heading">'+'<h3 class="panel-title">Projetos</h3>'+'</div>').appendTo('#painel_projetos');
									var cont = 1;
									$.each(projects_name,function(k,v){
										var projeto = projects_name[k];
										var vms = json_vm[projeto];
										var add_vm = '';
										$.each(vms,function(i){
											//<div class="radio"><label><input type="radio" name="defaultVM" id="vm1" value="vm1">                  VM  1     </label></div>
											add_vm += '<div class="radio"><label><input type="radio" name="defaultVM" ' + 'value='+vms[i].toString()+'>VM'+cont+'</label></div>';
											cont += 1;
										});
										$('<div class="panel-body">'+'<strong> Projeto '+projeto+' <strong>'+ add_vm +'</div>').appendTo('#painel_projetos');
										console.log(json_vm[projeto]);
										
										});
									
									</script> -->

	</body>
</html>
