<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Cloud Telemetry</title>

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}">

		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootbox.js') }}"></script>
		<script src="{{ url_for('static', filename='js/moment-2.4.0.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.js') }}" charset="UTF-8"></script>
		<script src="{{ url_for('static', filename='js/d3.js') }}"></script>
		<script src="{{ url_for('static', filename='js/d3.layout.js') }}"></script>

	</head>

	<body>
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"> </span>
						<span class="icon-bar"> </span>
						<span class="icon-bar"> </span>
					</button>
					<a class="navbar-brand" href="#">Project name</a>
				</div>
				<div class="navbar-collapse collapse"></div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row-fluid">
				<div class="col-md-2 col-md-offset-10 sidebar">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Configurações de Alarmes</h3>
						</div>
						<div class="panel-body">

							<strong>Período Fixo</strong>
							<div class="radio">
								<label data-toggle="tooltip" data-original-title="Permite">
									<input type="radio" name="defaultTime" id="ultima_hora" value="ultima_hora">
									Última Hora </label>
							</div>
							<div class="radio">
								<label data-toggle="tooltip" data-original-title="Permite">
									<input type="radio" name="defaultTime" id="ultimo_dia" value="ultimo_dia">
									Último Dia </label>
							</div>
							<div class="radio">
								<label data-toggle="tooltip" data-original-title="Permite">
									<input type="radio" name="defaultTime" id="ultima_semana" value="ultima_semana">
									Última Semana </label>
							</div>
							<div class="radio">
								<label data-toggle="tooltip" data-original-title="Permite">
									<input type="radio" name="defaultTime" id="ultimo_mes" value="ultimo_mes">
									Último Mês </label>
							</div>
							<strong>Período Específico</strong>
							<br>
							<label for="dtp_input1" >Início</label>
							<div class="input-group date" id="datetimepicker1">
								<input class="form-control" type="text" id="data_hora1" data-format="DD/MM/YYYY HH:mm">
								<span id="selc_dh1" class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
							</div>
							<label for="dtp_input2" >Fim</label>
							<div class="input-group date" id="datetimepicker2">
								<input class="form-control" type="text" id="data_hora2" data-format="DD/MM/YYYY HH:mm">
								<span id="selc_dh2" class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
							</div>
							<br>
							<div align="center">
								<button type="button" class="btn btn-primary" id="aplicarConf">
									Aplicar
								</button>
							</div>
						</div>

					</div>

					<ul class="list-group">
						<li class="list-group-item alert alert-warning">
							<span class="badge">12</span>
							<span class="glyphicon glyphicon-warning-sign"></span>Notificações
						</li>
					</ul>
				</div>
				<div class="col-md-10  main">
					<!--abas para escolha -->
					<ul class="nav nav-tabs nav-justified">
						<li class="active">
							<a href="">Visão Geral</a>
						</li>
						<li>
							<a href="">Recomendações</a>
						</li>
						<li>
							<a href="">Histórico</a>
						</li>
					</ul>

					<div id="chart_div" style="width: 1000px; height: 800px;"></div>

				</div><!-- fim div col-md-10 main -->
			</div>
		</div>
		
		
															<!-- SCRIPTS -->
		
		<script src="{{ url_for('static', filename='js/scriptsUI/menuconfig.js') }}"></script>
		<script src="{{ url_for('static', filename='js/scriptsUI/treemap.js') }}"></script>
	
	</body>
</html>
